
/*main*/ 


.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside {
    margin: 0px 15px;
}

aside ul {
    list-style: none;
    font-size: 1.2rem;
}

aside ul li {
    padding-bottom: 10px;

}

aside ul li a:hover {
    color:pink; 
}

