
/*card categorias*/

.categorycard__background__color {
    background-color:#E8E8E7;
    

    &:hover {
        transform: scale(1.1,1.1);
        transition: 1s;
        background-color: $pink-mume;
    }

    @media screen and (max-width: $small) {
        margin-bottom: 25px;

        &:hover {
            transform: translateY(-15px);
            transition: 0.5s;
        }
      }
}

.categorycard__background__pad {
    margin: 0 5px;
    padding: 5px 10px;

    @media screen and (max-width: $small) {
        padding: 2px 8px;
      }
}

.card__img__category {
    width: 200px;

    @media screen and (max-width: $small) {
        width: auto;
        height: 100px;
    }
}

/*card nosotros*/

.card-text {

    @media screen and (max-width: $small) {
        padding-bottom: 8px;
        font-size: $fifth-type-size;
    }

}

.cardaboutus__backgroundcolor {

    &:hover {
        transform: translateY(-15px);
        transition: 0.5s;
        background-color: $greenlight-mume;
    }

}

/*card consejos*/

.card {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    }
}

.advice___card__title {
    margin-bottom: 10px;
    font-family: $primary-font;
    font-size: $second-type-size;
    color: $bluelight-mume;
}

.advice___card__paragraph {
    margin-bottom: 10px;
    font-family: $secondary-font;
    font-size: $fourth-type-size;
    line-height: 1.6rem;
    color: $font-color-text;

    @media screen and (max-width: $medium) {
        font-size: $third-type-size;
    }

    @media screen and (max-width: $small) {
        font-size: $fifth-type-size;
    }
}


/*card tienda*/


.cardshop {
    text-align: center;
    border:  solid 1px #E8E8E7;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 14px 28px #6C6A6A, 0 10px 10px #6C6A6A;
        transform: translateY(-15px);
        transition: 0.5s;
    }
}

.cardshop__title {
    font-family: $primary-font;
    font-size: $second-type-size;
    line-height: $third-type-size;
    text-align: center;
    color: $bluelight-mume;
    padding: 10px 0;

    @media screen and (max-width: $medium) {
        font-size: $fourth-type-size;
    }

    @media screen and (max-width: $small) {
        font-size: $fifth-type-size;
        padding: 0;
        padding-top: 10px;
    }
}

.cardshop__price {
    font-family: $primary-font;
    font-size: 1.8rem;

    @media screen and (max-width: $medium) {
        font-size: $second-type-size;
    }

    @media screen and (max-width: $small) {
        font-size: $fifth-type-size;
        margin-bottom: 10px;
    }
}

.cardshop__description {
    font-size: $third-type-size;
    padding: 0 10px;

    @media screen and (max-width: $medium) {
        font-size: $fourth-type-size;
    }

    @media screen and (max-width: $small) {
        font-size: $sixth-type-size;
    }
}

.cardshop__image {
    height: auto;
    width: 250px;

    @media screen and (max-width: $medium) {
        height: auto;
        width: 221px;
    }
    @media screen and (max-width: $small) {
        height: auto;
        width: 160px;
    }
}

/*card novedades*/

.overflow-hidden {
    overflow: hidden;
}

.card__news {
    max-width: 600px;
    border: solid 1px #E8E8E7;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: white;

    &:hover {
        box-shadow: 0 14px 28px #6C6A6A, 0 10px 10px #6C6A6A;
        transform: translateY(-15px);
        transition: 0.5s;
    }

    @media screen and (max-width: $small) {
        margin-bottom: 15px;
    }
}

.card__news__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
  }

.card__news__title {
    font-family: $primary-font;
    font-size: $second-type-size;
    font-weight: bold;
    color: $font-color-title;
    padding: 10px 0;

    @media screen and (max-width: $small) {
        padding: 5px 0;
    }
}

.card__img__news {

    @media screen and (max-width: $medium) {
        width: auto;
        height: 220px;
    }
    @media screen and (max-width: $small) {
        width: 100%;
        height: 200px;
    }
}

.card__news__copy {
    font-family: $secondary-font;
    font-size: $fourth-type-size;
    line-height: $third-type-size;
    text-align: center;
    color: $font-color-title;
    padding: 0 10px;

    @media screen and (max-width: $small) {
        font-size: $fifth-type-size;
        padding: 0 5px;
    }
}


/*card promo*/
.card__sale {
    margin-bottom: 20px;
    height: auto;
    width: 500px;

    @media screen and (max-width: $medium) {
        width: 320px;

        ul{
            text-align: left;
            margin: 0;
            padding-left: 20px;
        }
    }   
    @media screen and (max-width: $small) {
        ul{
            text-align: center;
            padding: 10px 0;
            list-style: none;
        }
    }
}

.card__sale__title {
    font-family: $primary-font;
    font-size: $second-type-size;;
    color: $bluelight-mume;

    @media screen and (max-width: $small) {
        text-align: center;
    }
}

.card__sale__paragraph {
    margin-bottom: 10px;
    font-family: $secondary-font;
    font-size: $fourth-type-size;
    line-height: 1.6rem;
    color: $font-color-text;

    @media screen and (max-width: $medium) {
       padding: 0;
    }

    @media screen and (max-width: $small) {
        margin: 2px 5px 5px;
        font-family: $secondary-font;
        font-size: $sixth-type-size;
        line-height: $third-type-size;
        text-align: center;
    }
}

.card__sale__image {
    height: auto;
    width: 500px;

    @media screen and (max-width: $medium) {
        width: 320px;
    }
}