 html body {
     margin:0;
     padding: 0;
     font-size: 16px;
     background-color: $grey-bg;
}

h1 {
    font-family: $primary-font;
    color: $font-color-title;
    font-size: $type-size;
    text-align: center;
    @media screen and (max-width: $small) {
        font-size: $first-type-size;
    }
}


h2 {
    font-family: $primary-font;
    color: $font-color-title;
    font-size: $first-type-size;
    @media screen and (max-width: $small) {
        font-size: $third-type-size;
    }
}

h3 {
    font-family: $primary-font;
    display: inline-block;
}

a {
    color: $font-color-text;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    font-family: $secondary-font;
    display: inline-block;
    font-size: $third-type-size;
    line-height: $second-type-size;
    color:$font-color-text;
    display: inline-block;

    @media screen and (max-width: $small) {
        font-size: $fifth-type-size;
        line-height: $fourth-type-size;
        text-align: center;
    }
}

i {
    padding: 0 8px;
}

.margin__main {
    margin: 50px 0;
    
    @media screen and (max-width: $small) {
        margin: 10px 0;
    }
}

/*header*/

.navbar-light .navbar-nav .nav-link {
    color: $font-color-text;
}

.navbar-light .navbar-toggler {
    color: $font-color-text;
    background-color: $pink-mume;
}

header {
    height: 100px;
    width: auto;
    
    @media screen and (max-width: $small) {
        height: 65px; 
    }
}

.index__header {
    background: $grey-bg;
    font-family: $primary-font;
    padding: 18px 30px;
    height: 100px;
    width: auto;
    box-sizing: border-box;
    box-shadow: 0 2px 10px #6C6A6A;

    @media only screen and (max-width: $medium){
        padding: 12px 15px;
    }

    @media screen and (max-width: $small) {
        padding: 9px 10px;
        height: 65px;
        box-shadow: 0 1px 5px #6C6A6A;   
    }
}

nav {
    
    img {
        height: 90px;  
        margin-left: auto;
        margin-right: auto;

        @media only screen and (max-width: $medium) {
            height: 70px; 
        }
    
        @media screen and (max-width: $small) {
            height: 45px;
        }                
    }

    h1 {
        text-align: center;
        font-size: $type-size;
        display: inline-block;
        width: 250px;
        height: 100px;
        vertical-align: middle;
    }

    ul {
        list-style: none;
        font-family: $primary-font;
        text-align: center;
        display: flex;
        flex-direction: row;
        font-size: $fifth-type-size;  

            li {
                border: solid 2px white;
                background-color: $greenlight-mume;
                padding: 1px 5px;

                @media screen and (max-width: $small) {
                    border: none;
                    border-bottom: solid white;
                    width: 100%;
                }
            }
            
            li:hover {
                background-color: $pink-mume;
            }       
    }     
}


/*menus*/

section ul {
    list-style: none;
    font-family: $secondary-font;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: $fifth-type-size;

        li {
            padding: 1px 5px;
            box-sizing: border-box;
        }
}


/*carrousel*/
.text__carousel {
    color: white;
    text-shadow: 0 4px 10px #191919;
}



/*titulos*/

.front {
    color: white;
    text-shadow: 0 6px 15px #191919;
    font-size: 3.5rem;
    position:absolute; 
    top: 300px;
    right: 0;
    left: 0;
    z-index: 3;

    @media screen and (max-width: $medium) {
        font-size: 3rem;
        top: 200px;
    }

    @media screen and (max-width: $small) {
        font-size: $first-type-size;
        top: 80px;
    } 
}


.main__titulo {
    font-family: $primary-font;
    color: $font-color-title;
    font-size: $first-type-size;
    padding: 10px;

    @media screen and (max-width: $small) {
        font-size: $third-type-size;
        padding: 10px;
    }
}


.main__subtitulo__blue {
    font-family: $primary-font;
    font-size: $second-type-size;
    text-align: center;
    color: $bluelight-mume;

    @media screen and (max-width: $small) {
        font-size: $fourth-type-size;
    }
}

/*textos*/
.columna__parrafo__centrado {
    font-size: $third-type-size;
    text-align: center;
    line-height: $second-type-size;

    @media screen and (max-width: $small) {
        font-size: $fifth-type-size;
    }
}


 /*margen*/

.box {
    padding: 20px 30px;
    margin: 10px 20px;

    @media screen and (max-width: $small) {
        padding: 10px 20px;
        margin: 5px 10px;
    }
}


.contact_padding {
    padding: 80px 0px;

    @media screen and (max-width: $small) {
        padding-top: 10px 0px;
    }
}

.section__padding {
    padding: 50px 0;

    @media screen and (max-width: $medium) {
        padding: 20px 0;
    }

    @media screen and (max-width: $small) {
        padding: 10px 0;
    }
}



 /*botones*/

.card__btn__blue {
    font-family: $secondary-font;
    color: $blue-mume;
    border-color: $blue-mume;
    background-color:#E6EFF5;
    margin-top: 10px;

    &:hover {
        color: white;
        background-color: $blue-mume;
    }
}

.card__btn__pink {
    font-family: $secondary-font;
    color: $darkpink-mume;
    border-color: $darkpink-mume;
    background-color:#FFF9FC;
    margin-top: 10px;

    &:hover {
        color: white;
        background-color: $darkpink-mume;
        border-color: $darkpink-mume;
    }
}


.btn-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*icon*/

.icon__guide {
    display: block;
    margin: 20px auto;
    width: 50%;

    &:hover {
        transform: scale(1.1,1.1);
        transition: 1s;
    }

    @media screen and (max-width: $small) {
        margin: 10px auto;
        width: 20%;
    }   
}

/*formulario*/

form {
    font-family: $secondary-font;
    font-size: $third-type-size;
    color: $font-color-text;

    legend{
        font-family: $primary-font;
        font-size: $second-type-size;
    }
}

.page-holder {
    min-height: 100vh;

}
  
.bg-cover {
    background-size: cover;
}

/*animaciones*/

.uno {
    animation-name: anima2;
    animation-iteration-count: one;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes anima2 {
    from {
        margin-top: 15%;
        opacity: 0;
        }
        
    to {
        margin-top: 0%;
         opacity: 100%;
        }
    }


/*footer*/
footer {
    background: linear-gradient(to right, $pink-mume, $greenlight-mume);
    font-family: $secondary-font;
    font-size: $fourth-type-size;
    color: $font-color-text;
    text-align: left;
    padding: 20px 50px;

    @media screen and (max-width: $small) {
        font-size: $sixth-type-size;
        text-align: center;
    }

    ul {
        list-style: none;
        text-align: left;
        font-size: $fifth-type-size;
        display: inline-block;
        padding:0;
        margin:0;

        @media screen and (max-width: $small) {
            font-size: $sixth-type-size;
        }

        li {
            list-style: none;
            padding:0;
            margin:0;
            padding-bottom: 10px;

            @media screen and (max-width: $small) {
                text-align: center;
            }
                
        }
    }

    a {
        color: #314141;

        &:hover {
            color: #518DB8;
        }
    }

    h3 {
        text-align: center;
        padding-bottom: 10px;
        font-weight:bold;
        font-size: $third-type-size;
    }

    i {
        padding: 0;
    }
}

.footer__link {
    &:hover{
        transform: translateY(-5px);
        transition: 0.5s;           
    }
}

/*iconos redes sociales*/

.facebook {
    &:hover {
        transform: translateY(-5px);
        transition: 0.5s;
        opacity: 0.7;
    }
}

.instagram {

    &:hover {
        @extend .facebook;
    }
}

.twitter {
    
    &:hover {
        @extend .facebook;
    }   
}


$redes-sociales: (
	facebook: #3B5998,
	instagram: #125688,
	twitter: #55ACEE,
);


@each $name, $color in $redes-sociales {
	.#{$name} {
	color: $color;
	}
}