
/*typo style*/
$primary-font: 'Signika', Arial, sans-serif;
$secondary-font: 'Open_sans', Arial, sans-serif;

/*typo sizes*/
$type-size: 2.2rem;
$first-type-size: 2rem;
$second-type-size: 1.5rem;
$third-type-size: 1.3rem;
$fourth-type-size: 1.2rem;
$fifth-type-size:1.1rem;
$sixth-type-size:1rem;


/*colors*/
$bg-color: #14CBA8;
$blue-mume: #6A9DC2;
$bluelight-mume:#518DB8;
$font-color-text: #314141;
$font-color-title: #424242;
$greenlight-mume: #A0ECD0; 
$pink-mume: #FFCAE9;
$grey-bg:#F9F9F9;

/*responsive*/
$small: 450px;
$medium: 900px
